body {margin: 0;
    padding: 0;
    text-align: center;
   
    background-position: center;
    background-size: cover;
    background-image: url("https://static1.squarespace.com/static/57772f7ad2b857e1faad44d0/5a5a716e71c10b9c8c2bc2d2/5a5a716e71c10b9c8c2bc2df/1472488531881/IMG_4747+(1).JPG");}  
  h1 {
    font-size: 3.5rem;
    color: #a4deea;
    font-style: italic;
    font-family: "Arvo", cursive;
    text-shadow: 3px 4px 2px #DA0463;
  
  }
  
  footer {

    font-size:1rem;
    font-weight: 500;
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    color: #eee2e2e1;
    font-family: sans-serif;
  }
  
  .w {background-image: url("images/img-1.png");
  background-position: center;
  background-size: cover;
  }
  
  .a {background-image: url("images/img-2.png");
    background-position: center;
    background-size: cover;
  
  }
  
  .s {
    background-image: url("images/img-3.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .d {background-image: url("images/img-4.png");
    background-position: center;
    background-size: cover;
  
  }
  
  .j {
    background-image: url("images/img-5.png");
    background-position: center;
    background-size: cover;
  }
  
  .k {
    background-image: url("images/img-6.png");
    background-position: center;
    background-size: cover;
  }
  
  .l {
    background-image: url("images/img-7.png");
    background-position: center;
    background-size: cover;
  }
  
  
  
  
  
  .tabla{
   background-color: linear-gradient(rgba(23, 50, 50, 0.5),rgba(221, 146, 146, 0.75));
    border: 2px solid #404B69;
    box-shadow: 3px 5px 4px #121d21;
    border-radius: 15px;
    width: 150px;
    height: 150px;
   margin: 10px;
  }
  